body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1, h2 {
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: #007bff;
    color: white;
    font-size: 28px;
}

#logout {
    background-color: #f0e0e1;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

#logout:hover {
    background-color: #cfc0c0;
}

.register {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    height:500px;
    overflow-y: auto;
}

#userTable {
    margin-top: 10px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#ticketChart, #ticketChart2 {
    max-width: 500px;
    margin: 20px auto;
}

.chart-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .chart-container {
        flex-direction: column;
        align-items: center;
    }

    button {
        width: 100%;
    }

    #ticketChart, #ticketChart2 {
        max-width: 100%;
    }
}
